# Dependency directories
node_modules/
node_modules*/

# Output
dist/
dist/*

# certs
certs/*

# Secrets
ssl-pinning
ssl-public.pem
ssl-pinning-config.json
ssl-pinning-*.json
ssl-private.json
*.pem
.DS_Store
